
<!-- <div class="bg-red-700 text-white py-4" style="height: 15vh; background-color: rgb(233, 64, 97);"> -->
<div class="bg-red-700 text-white py-4" style="background-color: rgb(233, 64, 97);">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
    <div class="mb-4 md:mb-0">
      <h1 class="text-lg font-bold ">Costeño express SAC</h1>
    </div>
    <div class="flex flex-col md:flex-row md:space-x-8">
      <div class="mb-4 md:mb-0">
        <ul class="space-y-2">
          <li>Nosotros</li>
          <li>Promociones</li>
          <li>Encomiendas</li>
          <li>Información para tú viaje</li>
        </ul>
      </div>
      <div class="flex flex-col md:space-y-2">
        <span>Contacto</span>
        <span>Síguenos</span>
        <div class="flex space-x-4 mt-2">
          <img aria-hidden="true" alt="facebook-icon" src="https://openui.fly.dev/openui/24x24.svg?text=📘" />
          <img aria-hidden="true" alt="instagram-icon" src="https://openui.fly.dev/openui/24x24.svg?text=📸" />
          <img aria-hidden="true" alt="whatsapp-icon" src="https://openui.fly.dev/openui/24x24.svg?text=📱" />
          <img aria-hidden="true" alt="tiktok-icon" src="https://openui.fly.dev/openui/24x24.svg?text=🎵" />
        </div>
      </div>
    </div>
  </div>
</div>
